{% if view.current_display == 'block_latest_blog' %}
	{% if rows %}
	<div class="container">
		{% if header %}
		<div class="mb-50">
			{{ header }}
		</div>
		{% endif %}
		<div class="row">
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_blog_style2' %}
	{% if rows %}
	<div class="container">
		{% if header %}
		<div class="mb-50">
			{{ header }}
		</div>
		{% endif %}
		<div class="row">
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% elseif view.current_display == 'block_latest_blog_style_nogrid' %}
	{% if rows %}
	<div class="container p-140-cont">
        <div class="row">
			<!-- CONTENT -->
            <div class="col-sm-12 blog-main-posts">
				{{ rows }}
            </div>
        </div>
        <div class="mt-0">
        	{{ pager }}
    	</div>
    </div>
	{% endif %}
{% elseif view.current_display == 'block_blog_style_nogrid2' %}
	{{ rows }}
	<div class="mt-0">
        {{ pager }}
    </div>
{% elseif view.current_display == 'block_popular_posts_slider_style' %}
	{{ rows }}
{% elseif view.current_display|substr_count('block_latest_posts_by_categories') == 1 %}
	{% if header %}
	<!-- TITTLE -->
    	<div class="heading-line h4-line mb-20">
    		{{ header }}
    	</div>
	{% endif %}
	{% if rows %}
		{% set nodes = rows.0.0['#rows'] %}
		{% set n = 0 %}
		{% set s = nodes|length %}
		{% if s > 2 %}
			{% set p = s - 2 %}
		{% else %}
			{% set p = 0 %}
		{% endif %}
		{% set l = p % 2 %}
		{% set k = p // 2 %}
		{% if l == 1 and s > 3 %}
			{% set k = k + 1 %}
		{% endif %}
		{% for item in nodes %}
			{% set n = n + 1 %}
			{% set node = item['#row'].nid|str_replace(' ', '')|node_load %}
			{% if n == 1 or n == 2 %}
				{% if n == 1 %}<div class="row">{% endif %}               
				<!-- Post Item 1 -->
				<div class="col-sm-6 col-md-6 wow fadeIn pb-70" {% if n == 2 %}data-wow-delay="200ms"{% endif %}>
					<div class="post-prev-img">
						<a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><img src="{{ node.field_images.0.entity.fileuri|image_style_url('image_650x415') }}" alt="{{ node.field_images.0.alt }}"></a>
					</div>
					<div class="post-prev-title">
						<h3 class="uppercase"><a href="{{ path('entity.node.canonical', {'node': node.id}) }}">{{ node.title.value }}</a></h3>
					</div>
					
					<div class="post-prev-info">
						{% set createdDate = node.getCreatedTime|date('F d') %}
						{{ createdDate }}<span class="slash-divider">/</span><a href="">JOHN DOE</a>
					</div>
					
					<div class="post-prev-text">
						{{ node.body.summary }}
					</div>
					
					<div class="post-prev-more-cont clearfix">
						<div class="post-prev-more left">
							<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" class="blog-more">{{ 'READ MORE'|t }}</a>
						</div>
						<div class="right" >
							<a href="{{ path('entity.node.canonical', {'node': node.id}) }}#comments" class="post-prev-count"><span aria-hidden="true" class="icon_comment_alt"></span><span class="icon-count">{{ node.field_blog_comments.comment_count }}</span></a>
							<a href="#" class="post-prev-count dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
								<span aria-hidden="true" class="social_share"></span>
							</a>
							<ul class="social-menu dropdown-menu dropdown-menu-right" role="menu">
								<li><a href="https://www.facebook.com/sharer/sharer.php?u={{ path('entity.node.canonical', {'node': node.id}) }}" target="_blank"><span aria-hidden="true" class="social_facebook"></span></a>
								</li>
								<li><a href="https://twitter.com/home?status={{ path('entity.node.canonical', {'node': node.id}) }}" target="_blank"><span aria-hidden="true" class="social_twitter"></span></a></li>
								<li><a href="https://plus.google.com/share?url={{ path('entity.node.canonical', {'node': node.id}) }}" target="_blank"><span aria-hidden="true" class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
				{% if n == 2 or s == 1 %}</div>{% endif %}
			{% elseif n > 2 and k == 1 %}
			<div class="row">				
				<!-- Post Item -->
				<div class="col-sm-6">
					<ul class="clearlist widget-posts">
						<li class="clearfix">
							<a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><img src="{{ node.field_images.0.entity.fileuri|image_style_url('image_70x70') }}" alt="{{ node.field_images.0.alt }}" class="widget-posts-img"></a>
							<div class="widget-posts-descr">
								<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" title="{{ node.title.value }}">{{ node.title.value }}</a>
								{% set createdDate = node.getCreatedTime|date('d F') %}
								<div>{{ createdDate }}<span class="slash-divider">/</span> John Doe</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			{% elseif k > 1 and n >= 3 %}
				{% set createdDate = node.getCreatedTime|date('d F') %}
				{% if n == 3 %}<div class="row">{% endif %}				
				{% if k > 1 and (n == k + 3 or n == 3) %}
					<!-- Post Item -->
					<div class="col-sm-6">
						<ul class="clearlist widget-posts">
							<li class="clearfix">
								<a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><img src="{{ node.field_images.0.entity.fileuri|image_style_url('image_70x70') }}" alt="{{ node.field_images.0.alt }}" class="widget-posts-img"></a>
								<div class="widget-posts-descr">
									<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" title="{{ node.title.value }}">{{ node.title.value }}</a>
									<div>{{ createdDate }}<span class="slash-divider">/</span> John Doe</div>
								</div>
							</li>
					{% if s == 5 and n == 5 %}</ul></div>{% endif %}
				{% elseif k > 1 and (n == k + 2 or n == s) and n > 3 %}
						<li class="clearfix">
							<a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><img src="{{ node.field_images.0.entity.fileuri|image_style_url('image_70x70') }}" alt="{{ node.field_images.0.alt }}" class="widget-posts-img"></a>
							<div class="widget-posts-descr">
								<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" title="{{ node.title.value }}">{{ node.title.value }}</a>
								<div>{{ createdDate }}<span class="slash-divider">/</span> John Doe</div>
							</div>
						</li>
					</ul>
				</div>
				{% else %}
				<li class="clearfix">
					<a href="{{ path('entity.node.canonical', {'node': node.id}) }}"><img src="{{ node.field_images.0.entity.fileuri|image_style_url('image_70x70') }}" alt="{{ node.field_images.0.alt }}" class="widget-posts-img"></a>
					<div class="widget-posts-descr">
						<a href="{{ path('entity.node.canonical', {'node': node.id}) }}" title="{{ node.title.value }}">{{ node.title.value }}</a>
						{% set createdDate = node.getCreatedTime|date('d F') %}
						<div>{{ createdDate }}<span class="slash-divider">/</span> John Doe</div>
					</div>
				</li>
				{% endif %}
				{% if n == s %}</div>{% endif %}	
			{% endif %}
		{% endfor %}
	{% endif %}
{% elseif view.current_display == 'block_blog_style_grid_4col' %}
	{% if rows %}
	<div class="container">
		<div class="row">
	        <div class="col-md-12 blog-main-posts">
			{% if header %}
			<!-- TITTLE -->
		    	<div class="heading-line h4-line mb-20">
		    		{{ header }}
		    	</div>
			{% endif %}
			{{ rows|render|str_replace_first('<div class="col-sm-6 col-md-3 wow fadeIn pb-70 first"', '<div class="row"><div class="col-sm-6 col-md-3 wow fadeIn pb-70"')|str_replace('<div class="col-sm-6 col-md-3 wow fadeIn pb-70 first"', '</div><div class="row"><div class="col-sm-6 col-md-3 wow fadeIn pb-70"')|concatenation('</div>')|raw }}
	        </div>
	    </div>
	</div>
	{% endif %}
{% elseif view.current_display == 'embed_related_blog_posts' %}
	{{ rows }}
{% else %}
	{% if rows %}
	<div class="container">
		{{ header }}
		<div class="row">
			{{ rows }}
		</div>
	</div>
	{% endif %}
{% endif %}