<div {{ attributes.addClass('widget') }}>
	{{ title_prefix }}
	<h5 {{ title_attributes.addClass('widget-title') }}>{{ 'Filter by price'|t }}</h5>
	{{ title_suffix }}
	<div class="widget-body">
		{{ content }}
	</div>
</div>