<!-- HEADER -->
{% if menu_style is empty %}
    {% set menu_style = 'black_transparent' %}
{% endif %}
{% if topbar is empty %}
    {% set topbar = 0 %}
{% endif %}
{% if menu_style == 'black_transparent' %}
	{% set class_header = 'black-header mobile-no-transparent' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'black_notransparent' %}
	{% set class_header = 'black-header no-transparent mobile-no-transparent' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'white_notransparent' %}
	{% set class_header = 'no-transparent mobile-no-transparent border-b affix-top' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'min_menu' %}
	{% set class_header = 'header-side-menu affix-top' %}
	{% set id_header = 'nav-stick' %}
{% elseif menu_style == 'gray_min_fullmenu' %}
	{% set class_header = 'header-side-menu affix-top' %}
	{% set id_header = 'nav-stick' %}
{% elseif menu_style == 'black_min_fullmenu' %}
	{% set class_header = 'header-side-menu black-header affix-top' %}
	{% set id_header = 'nav-stick' %}
{% else %}
	{% set class_header = '' %}
	{% set id_header = 'nav' %}
{% endif %}
{% if page_title_style is empty %}
	{% set page_title_style = 'small_grey' %}
{% endif %}
{% if menu_style != 'side_menu' %}
	<header id="{{ id_header }}" class="header header-1 {{ class_header }}">
		{% if topbar == 1 and page.topbar %}
		<!-- TOP BAR -->
	    <div class="top-bar">
	        <div class="container-m-30 clearfix">
				{{ page.topbar }}
	        </div>
	    </div>
		{% endif %}
		<div class="header-wrapper {% if menu_style == 'black_notransparent' %}grey-dark-bg{% endif %}">
			<div class="container-m-30 clearfix">
				<div class="logo-row">				
					<!-- LOGO -->
					<div class="logo-container-2">
					{% if page.header_branding %}
	                    {{ page.header_branding }}
	                {% elseif logo %}
						<div class="logo-2">
							<a href="{{ front_page }}" class="clearfix">
								<img src="{{ logo }}" class="logo-img" alt="{{ site_name }}">
							</a>
						</div>
					{% endif %}
					</div>
				{% if menu_style != 'min_menu' and menu_style != 'gray_min_fullmenu' and menu_style != 'black_min_fullmenu' %}
					<!-- BUTTON -->
					<div class="menu-btn-respons-container">
						<button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
						<span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
						</button>
					</div>
				{% endif %}
				</div>
			</div>
			{% if page.main_menu and menu_style != 'min_menu' and menu_style != 'gray_min_fullmenu' and menu_style != 'black_min_fullmenu' %}
			<!-- MAIN MENU CONTAINER -->
			<div class="main-menu-container">			
				<div class="container-m-30 clearfix">				
					<!-- MAIN MENU -->
					<div id="main-menu">
						<div class="navbar navbar-default" role="navigation">
						{% if page.shopping_cart %}
							{{ page.main_menu|render|str_replace('class="display-none"', 'class="menu-cart" id="menu-cart"')|raw }}
						{% else %}
							{{ page.main_menu }}
						{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% if page.header_search %}
			<!-- SEARCH READ DOCUMENTATION -->
			<ul class="cd-header-buttons">
				<li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
			</ul> <!-- cd-header-buttons -->
			<div id="cd-search" class="cd-search">
				{{ page.header_search|render|str_replace('form-search', 'form-search top-search-form')|raw }}
			</div>
			{% endif %}
			{% elseif menu_style == 'min_menu' or menu_style == 'gray_min_fullmenu' or menu_style == 'black_min_fullmenu' %}
			<!-- BUTTON --> 
			<div class="menu-btn-respons-container2">
				<a id="cd-menu-trigger" href="#"><span class="cd-menu-icon"></span></a>
			</div>
			{% endif %}
		</div>
	</header>
	{{ page.min_menu }}
	{% if  menu_style == 'min_menu' %}
	<div class="sliding-content">
	{% endif %}
{% else %}
<div class="side-header">
	<!-- HEADER LEFT -->
	<header id="header-left" class="header header-1 mobile-no-transparent no-transparent">
		<div class="header-wrapper">
			<div class="container-m-30 clearfix">
				<div class="logo-row">					
					<!-- LOGO -->
					<div class="logo-container-2">
					{% if page.header_branding %}
                    	{{ page.header_branding }}
	                {% elseif logo %}
						<div class="logo-2">
							<a href="{{ front_page }}" class="clearfix">
								<img src="{{ logo }}" class="logo-img" alt="{{ site_name }}">
							</a>
						</div>
					{% endif %}
					</div>
					<!-- BUTTON -->
					<div class="menu-btn-respons-container">
						<button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
						<span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
						</button>
					</div>
				</div>
			</div>
			{% if page.main_menu %}
			<!-- MAIN MENU CONTAINER -->
			<div class="main-menu-container">
				
				<div class="container-m-30 clearfix">
					
					<!-- MAIN MENU -->
					<div id="main-menu">
						<div class="navbar navbar-default" role="navigation">
							<!-- MAIN MENU LIST -->
							{{ page.main_menu }}
							{{ page.header_search }}
						</div>
					</div>
					<!-- END main-menu -->
					
				</div>
				<!-- END container-m-30 -->				
			</div>
			<!-- END main-menu-container -->
			{% endif %}
		</div>
	</header>
</div>
{% endif %}
{% if page.shopping_cart %}
	{{ page.shopping_cart }}
{% endif %}
<!-- END header-wrapper -->
{% if page_title_style == 'extra_large_image' and page_title_image is defined %}
	<!-- PAGE TITLE IMG -->
	<div class="page-title-cont page-title-large page-title-img  blog-single-fullwidth-img {{ page_title_class }}" style="background-image: url({{ page_title_image }})">
		<div class="relative container">
			<div class="row">				
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
					{% if slogan is not empty %}
					<div class="page-sub-title">
						{{ slogan|raw }}
					</div>
					{% endif %}
				</div>
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}	
			</div>
		</div>
	</div>
{% elseif page_title_style == 'large_image' and page_title_image is defined %}
	<div class="page-title-cont page-title-large page-title-img  pt-250 {{ page_title_class }}" style="background-image: url({{ page_title_image }})">
		<div class="relative container">
			<div class="row">				
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
					{% if slogan is not empty %}
					<div class="page-sub-title">
						{{ slogan|raw }}
					</div>
					{% endif %}
				</div>				
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}			
			</div>
		</div>
	</div>
{% elseif page_title_style == 'big_gey' %}
	<div class="page-title-cont page-title-big grey-light-bg {{ page_title_class }}">
		<div class="relative container">
			<div class="row">				
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
					<div class="page-sub-title">
						{{ slogan|raw }}
					</div>
				</div>				
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}	
			</div>
		</div>
	</div>
{% elseif page_title_style == 'big_white' %}
	<div class="page-title-cont page-title-big {{ page_title_class }}">
		<div class="relative container">
			<div class="row">				
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
					<div class="page-sub-title">
						{{ slogan|raw }}
					</div>
				</div>				
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% elseif page_title_style == 'big_dark' %}
	<div class="page-title-cont page-title-big grey-dark-bg {{ page_title_class }}">
		<div class="relative container">
			<div class="row">				
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
					<div class="page-sub-title">
						{{ slogan|raw }}
					</div>
				</div>				
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% elseif page_title_style == 'big_image' and page_title_image is defined %}
	<div class="page-title-cont page-title-big page-title-img {{ page_title_class }}" style="background-image: url({{ page_title_image }})">
		<div class="relative container">
			<div class="row">				
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
					<div class="page-sub-title">
						{{ slogan|raw }}
					</div>
				</div>				
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}
			</div>
		</div>
	</div>
{% elseif page_title_style == 'small_white' %}
	<div class="page-title-cont page-title-small border-b {{ page_title_class }}">
		<div class="relative container">
			<div class="row">			
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
				</div>
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}			
			</div>
		</div>
	</div>
{% elseif page_title_style == 'small_dark' %}
	<div class="page-title-cont page-title-small grey-dark-bg {{ page_title_class }}">
		<div class="relative container">
			<div class="row">			
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
				</div>
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}			
			</div>
		</div>
	</div>
{% else %}
	<div class="page-title-cont page-title-small grey-light-bg {{ page_title_class }}">
		<div class="relative container">
			<div class="row">			
				<div class="col-md-8">
					<h1 class="page-title">{{ current_page_title }}</h1>
				</div>
				{% if page.breadcrumb %}		
				<div class="col-md-4">
					{{ page.breadcrumb }}
				</div>
				{% endif %}			
			</div>
		</div>
	</div>
{% endif %}
