<!-- HEADER -->
{% if menu_style is empty %}
    {% set menu_style = 'black_transparent' %}
{% endif %}
{% if topbar is empty %}
    {% set topbar = 0 %}
{% endif %}
{% if menu_style == 'black_transparent' %}
	{% set class_header = 'black-header mobile-no-transparent' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'black_notransparent' %}
	{% set class_header = 'black-header no-transparent mobile-no-transparent' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'white_notransparent' %}
	{% set class_header = 'no-transparent mobile-no-transparent affix-top' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'white_notransparent' %}
	{% set class_header = 'no-transparent mobile-no-transparent affix-top' %}
	{% set id_header = 'nav' %}
{% elseif menu_style == 'min_menu' %}
	{% set class_header = 'header-side-menu affix-top' %}
	{% set id_header = 'nav-stick' %}
{% elseif menu_style == 'gray_min_fullmenu' %}
	{% set class_header = 'header-side-menu affix-top' %}
	{% set id_header = 'nav-stick' %}
{% elseif menu_style == 'black_min_fullmenu' %}
	{% set class_header = 'header-side-menu black-header affix-top' %}
	{% set id_header = 'nav-stick' %}
{% else %}
	{% set class_header = '' %}
	{% set id_header = 'nav' %}
{% endif %}
{% if menu_style != 'side_menu' %}
	<header id="{{ id_header }}" class="header header-1 {{ class_header }}">
		{% if topbar == 1 and page.topbar %}
		<!-- TOP BAR -->
	    <div class="top-bar">
	        <div class="container-m-30 clearfix">
				{{ page.topbar }}
	        </div>
	    </div>
		{% endif %}
		<div class="header-wrapper {% if menu_style == 'black_notransparent' %}grey-dark-bg{% endif %}">
			<div class="container-m-30 clearfix">
				<div class="logo-row">				
					<!-- LOGO -->
					<div class="logo-container-2">
					{% if page.header_branding %}
	                    {{ page.header_branding }}
	                {% elseif logo %}
						<div class="logo-2">
							<a href="{{ front_page }}" class="clearfix">
								<img src="{{ logo }}" class="logo-img" alt="{{ site_name }}">
							</a>
						</div>
					{% endif %}
					</div>
					<!-- BUTTON -->
				{% if menu_style != 'min_menu' and menu_style != 'gray_min_fullmenu' and menu_style != 'black_min_fullmenu' %}
					<div class="menu-btn-respons-container">
						<button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
						<span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
						</button>
					</div>
				{% endif %}
				</div>
			</div>
			{% if page.main_menu and menu_style != 'min_menu' and menu_style != 'gray_min_fullmenu' and menu_style != 'black_min_fullmenu' %}
			<!-- MAIN MENU CONTAINER -->
			<div class="main-menu-container">			
				<div class="container-m-30 clearfix">				
					<!-- MAIN MENU -->
					<div id="main-menu">
						<div class="navbar navbar-default" role="navigation">
						{% if page.shopping_cart %}
						{{ page.main_menu|render|str_replace('class="display-none"', 'class="menu-cart" id="menu-cart"')|raw }}
						{% else %}
							{{ page.main_menu }}
						{% endif %}
						</div>
					</div>
				</div>
			</div>
			{% if page.header_search %}
			<!-- SEARCH READ DOCUMENTATION -->
			<ul class="cd-header-buttons">
				<li><a class="cd-search-trigger" href="#cd-search"><span></span></a></li>
			</ul> <!-- cd-header-buttons -->
			<div id="cd-search" class="cd-search">
				{{ page.header_search|render|str_replace('form-search', 'form-search top-search-form')|raw }}
			</div>
			{% endif %}
			{% elseif menu_style == 'min_menu' %}
			<!-- BUTTON --> 
			<div class="menu-btn-respons-container2">
				<a id="cd-menu-trigger" href="#"><span class="cd-menu-icon"></span></a>
			</div>
			{% else %}
			<!-- BUTTON --> 
            <div class="menu-btn-respons-container2">
              	<a class="fs-primary-nav-trigger" href="#"><span class="fs-menu-icon"></span></a>
            </div>
			{% endif %}
		</div>
	</header>
	{{ page.min_menu }}
	{% if page.fullscreen_menu %}
	<!-- Fullscreen MENU -->      
    <nav>
		{{ page.fullscreen_menu }}
	</nav>
	{% endif %}
	{% if  menu_style == 'min_menu' %}
	<div class="sliding-content">
	{% endif %}
{% else %}
<div class="side-header">
	<!-- HEADER LEFT -->
	<header id="header-left" class="header header-1 mobile-no-transparent no-transparent">
		<div class="header-wrapper">
			<div class="container-m-30 clearfix">
				<div class="logo-row">					
					<!-- LOGO -->
					<div class="logo-container-2">
					{% if page.header_branding %}
                    	{{ page.header_branding }}
	                {% elseif logo %}
						<div class="logo-2">
							<a href="{{ front_page }}" class="clearfix">
								<img src="{{ logo }}" class="logo-img" alt="{{ site_name }}">
							</a>
						</div>
					{% endif %}
					</div>
					<!-- BUTTON -->
					<div class="menu-btn-respons-container">
						<button type="button" class="navbar-toggle btn-navbar collapsed" data-toggle="collapse" data-target="#main-menu .navbar-collapse">
						<span aria-hidden="true" class="icon_menu hamb-mob-icon"></span>
						</button>
					</div>
				</div>
			</div>
			{% if page.side_menu %}
			<!-- MAIN MENU CONTAINER -->
			<div class="main-menu-container">
				
				<div class="container-m-30 clearfix">
					
					<!-- MAIN MENU -->
					<div id="main-menu">
						<div class="navbar navbar-default" role="navigation">
							<!-- MAIN MENU LIST -->
							{{ page.side_menu }}
							{% if page.header_search %}
							<div class="faq-search-form hl-search hide-lg">
								{{ page.header_search|render|str_replace('form-search', 'form-search widget-search-form')|raw }}
							</div>
							{% endif %}
						</div>
					</div>
					<!-- END main-menu -->
					
				</div>
				<!-- END container-m-30 -->				
			</div>
			<!-- END main-menu-container -->
			{% endif %}
		</div>
	</header>
</div>
{% endif %}
{% if page.shopping_cart %}
	{{ page.shopping_cart }}
{% endif %}
<!-- END header-wrapper -->
{% if menu_style == 'black_notransparent' or menu_style == 'white_notransparent' %}
<div class="indent-header"></div>
{% endif %}