<!-- HEADER 1  -->
<header id="nav" class="header header-1">	
	<div class="header-wrapper">
		<div class="container-m-30 clearfix">
			<div class="logo-row">				
				<!-- LOGO -->
				<div class="logo-container-2">
				{% if page.header_branding %}
					{{ page.header_branding }}
				{% elseif logo %}
					<div class="logo-2">
						<a href="{{ front_page }}" class="clearfix">
							<img src="{{ logo }}" class="logo-img" alt="{{ site_name }}">
						</a>
					</div>
				{% endif %}
				</div>
			</div>
		</div>		
	</div>
	<!-- END header-wrapper -->	
</header>
{{ messages }}
{{ page.content }}
{{ page.section }}
{% include directory ~ '/templates/layout/footer.html.twig' %}